.root {
    -fx-background-color: #040430;
}

.label {
    -fx-font-size: 32pt;
    -fx-font-weight: bold;
    -fx-font-family: Verdana;
    -fx-background-insets: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: #999911;
}